!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Canary Canary"
      %meta{:content => content_for?(:description) ? yield(:description) : "Canary Canary", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.navigation
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container-fluid
        .row-fluid
          .span3
            = render 'layouts/categories'
          .span9
            = render 'layouts/messages'
            = yield
      %footer
      / ! end of .container
    / ! end of #main
